* {
  margin:0;
  padding:0;
  list-style:none;
  box-sizing: border-box;
}

body {
  color: #335;
  --type-first: Helvetica, Calibri, sans-serif;
  --type-second:'Spectral', Georgia;
  font-family:var(--type-first);
  padding-top:9rem;
}

img {
  display:block;
  max-width:100%;
}

button, input {
  display:block;
  font-size:1rem;
  font-family:var(--type-first);
  color:orangered;
}

.container {
  max-width:56rem;
  padding:0 1rem;
  margin:0 auto;
}
